{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block body %}
<div class="login-boite-parent">
    <div class="login-boite-gauche">
        <div class="login-flou">
            <div class="login-texte-gauche">
                <img src="{{ asset('svg/ticketio_blanc.svg') }}" alt="logo ticketio_blanc" />
                <h2> Votre solution de ticketing sur mesure ! </h2>
                <p> Gérer vos demandes et incidents facilement. </p>
            </div>
        </div>
    </div>
    <div class="login-boite-droite">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            <h1 class="h3 mb-3 font-weight-normal">Bienvenue sur Ticket.io <br> Merci de vous identifier.</h1>
            <label class="champ-form" for="inputEmail">Email
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="text-input" autocomplete="email" required autofocus>
            </label>
            <label class="champ-form" for="inputPassword">Mot de passe
                <input type="password" name="password" id="inputPassword" class="text-input" autocomplete="current-password" required>
            </label>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Se souvenir de moi
                </label>
            </div>
            <button class="button" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</div>

{% endblock %}
