{% extends 'navbarBase/navbarBase.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="create-ticket-container">

            {{ form(form) }}

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/Users/utilisateur/Documents/projet/Ticket-IO/src/Controller/TicketController.php'|file_link(0) }}">src/Controller/TicketController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/Users/utilisateur/Documents/projet/Ticket-IO/templates/ticket/index.html.twig'|file_link(0) }}">templates/ticket/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}